[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "packages/popup"]
	path = packages/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "packages/magit"]
	path = packages/magit
	url = git://github.com/magit/magit.git
[submodule "packages/php-mode"]
	path = packages/php-mode
	url = git://github.com/ejmr/php-mode.git
[submodule "packages/web-mode"]
	path = packages/web-mode
	url = git://github.com/fxbois/web-mode.git
[submodule "packages/nxhtml"]
	path = packages/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "packages/ggtags"]
	path = packages/ggtags
	url = git://github.com/emacsmirror/ggtags.git
[submodule "packages/python-mode"]
	path = packages/python-mode
	url = git://github.com/emacsmirror/python-mode.git
[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "packages/mmm-mode"]
	path = packages/mmm-mode
	url = git://github.com/purcell/mmm-mode.git
[submodule "packages/cedet"]
	path = packages/cedet
	url = git://github.com/emacsmirror/cedet.git
[submodule "packages/flymake-css"]
	path = packages/flymake-css
	url = git://github.com/purcell/flymake-css.git
[submodule "packages/flymake-easy"]
	path = packages/flymake-easy
	url = git://github.com/purcell/flymake-easy.git
